@using MVC_Blog.Classes;
@using MVC_Blog.Models;
@model IEnumerable<Post>


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Zaglavie
        </th>
        <th>
            Soderjanie
        </th>
        <th>
            Datata
        </th>
        <th>
            Avtor
        </th>
        <th>
            Deistviya
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Utils.CutText(item.Body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @if (item.Author != null)
            {
                @item.Author.UserName
            }
            else
            {
                <i>  nqma Avturrrrrr</i>
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
